<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div  id="main">
      <div id="page">
      <h1>Aapka Instagram</h1>
        <form action="/register" method="post">
          <input class="two" type="text" name="username" placeholder="username"> <br>
          <input class="two" type="text" name="name" placeholder="name"> <br>
          <input class="two" type="password" name="password" placeholder="password" ><br>
          <input id="one" type="submit" value="Register">
        </form>
      </div>

    </div>

    
  </body>
</html>
