<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="main">
        <div id="page">
            <h1>Aapka instagram</h1>
            <form action="/login" method="post">
                <input class="one" type="text" name="username" placeholder="username"><br>
                <input class="one" type="password" name="password" placeholder="password" ><br>
                <input id="one" type="submit" value="Login">
            </form>
            
        </div>
        <div id="signup">
            <h2>Don't have any account ? <span><a href="/signup">Sign Up</a></span></h2>
        </div>
    </div>
    
    
</body>
</html>